html, body {
    height: 100%;
    margin: 0;
    padding: 0 0;
    }
.container {
    height: 100%;
    display: table;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}
.wrap {
width: 100%;
height: 100%;
}

.floatleft {
    float:left; 
    width: 50%;
    background-color: #12b5ea;
    height: 100%;
    height: 100vh;
}

.floatright {
    float: right;
    width: 50%;
    background-color: white;
    height: 100%;
    height: 100vh;
}
.fixedTitle {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 20%;
    top: 20vh;
}
.textRight, .textLeft {
    text-align: center;
    top: 10%;
    top: 10vh;
    right: 0;
    left: 0;
    max-height: 100%;
    position: relative;
    text-transform: uppercase;
}
.info-box {
}
.logoImage {
    vertical-align: baseline;
    margin-left: 10px;
    width: 250px;
}
.fullWidthButton {
        width: 250px;
        height: 120px;
    }
@media (min-width: 768px) {
    .fullWidthButton {
        width: 250px;
        height: 150px;
    }
}
@media (min-width: 992px) {
    .fullWidthButton {
        width: 375px;
        height: 150px;
    }
}
.whiteButton {
    background-color: white;
    color: #12b5ea;
}
.blueButton {
    background-color: #12b5ea;
}
.darkBlueButton {
    background-color: #2a94d6;
}
.whiteButton:hover {
    background-color: #12b5ea;
    color: white;
    box-shadow: inset 0 0 0 4px white, 0 0 1px rgba(0, 0, 0, 0);
}
.blueButton:hover {
    background-color: white;
    border-color: black;
    color: #12b5ea;
    box-shadow: inset 0 0 0 4px #12b5ea, 0 0 1px rgba(0, 0, 0, 0);
}
.darkBlueButton:hover {
    background-color: #415b76;
    border-color: black;
    color: white;
    box-shadow: inset 0 0 0 4px white, 0 0 1px rgba(0, 0, 0, 0);
}