html, body {
    height: 100%;
    margin: 0;
    padding: 0 0;
    }
.container {
    height: 100%;
    display: table;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}
.wrap {
width: 100%;
height: 100%;
}

.floatleft {
    float:left; 
    width: 50%;
    background-color: #12b5ea;
    height: 100%;
}

.floatright {
    float: right;
    background-color: white;
    height: 100%;
    width: 50%;
}
.fixedTitle {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 10%;
    top: 10vh;
}
.textRight, .textLeft {
    text-align: center;
    top: 55%;
    top: 55vh;
    right: 0;
    left: 0;
    max-height: 100%;
    position: relative;
}
.info-box {
}
.fullWidthButton {
    width: 300px;
    height: 100px;
}
/*
#left, #right{
    height: 100vh;
}
.row-fluid {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }
   .centering {
        float: none;
        margin: 0 auto;
    }

#left, #right{
    height: 100vh;
} */