body {
	background-color: #12b5ea;
}
.v-center {
  margin-top:4%;
}
.container-full {
	min-height:100%;
}
.topPadding {
	margin-top: 200px;
}
.center-x {
	text-align:center;
}
h3 {
	margin-bottom: 10px;
	margin-top: 0;
}
h1 {
	margin-top: 0;
}
.cursorPointer {
	cursor: pointer;
}
.clearBackground {
	background-color: #12b5ea;
}

.btn-group {
	padding: 24px 12px;
    margin: 0 5px;
}
.btn-group > .btn-group:first-child > .btn:last-child, .btn-group > .btn-group:first-child > .dropdown-toggle {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.btn-group > .btn-group:last-child > .btn:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
border-radius: 6px;
}
.smallTopPadding {
    bottom: 80px;
	padding-top: 15px;
}
.moveButtonDown {
    padding-top: 122px;
}
.moveButtonDownSmall {
    margin-top: 10px;
}
.moveButtonUp {
    bottom: 49px;
}
.marginBottom {
	margin-bottom: 10px;
}
.semiTransparent {
	opacity: .6;	
}
.whiteText {
	color: white;
}
/* css rules for social sharing icons */
.paddingIcons {
	padding-top: 10px;
	padding-left: 0;
}
ul {
    overflow: auto;
}
 
ul li {
    list-style-type: none;
    position: relative;
    float: left;
}
 
ul li a i {
    background-color: #205D7A; 
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
    transition: all 0.2s ease-in-out;
}
 
.fa-facebook {
    background-color: #3b5998;
} 
.fa-linkedin {
    background-color: #007bb6;
}
.fa-twitter {
    background-color: #00aced;
}
.fa-google-plus {
    background-color: #dd4b39;
}
ul li a i:hover {
    opacity: .7;
}
.centerContents {
    position:relative;
    left:25%;
    margin-right: 40px;
}
.moveTo {
    padding-top: 15px;
}
.jumbotron {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.topMargin {
    margin-top: 40px;
}
.noBottomPadding {
    padding-bottom: 0;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Parsley CSS */
input.parsley-success,select.parsley-success,textarea.parsley-success {
    color:#468847;
    background-color:#DFF0D8;
    border:1px solid #D6E9C6
}

input.parsley-error,select.parsley-error,textarea.parsley-error {
    color:#B94A48;
    background-color:#F2DEDE;
    border:1px solid #EED3D7
}

.parsley-errors-list {
    margin:2px 0 3px;
    overflow: hidden;
    color: #FF4C4C;
    padding:0;
    list-style-type:none;
    font-size:.9em;
    line-height:.9em;
    opacity:0;
    -moz-opacity:0;
    -webkit-opacity:0;
    transition:all .3s ease-in;
    -o-transition:all .3s ease-in;
    -ms-transition:all .3s ease-in;
    -moz-transition:all .3s ease-in;
    -webkit-transition:all .3s ease-in

}

.parsley-errors-list.filled {
    opacity:1
}

/* End Parsley CSS*/

.modal-content {
    padding-left: 10px;
}
.darkBlueButton:hover {
    background-color: #415b76;
    border-color: black;
    color: white;
    box-shadow: inset 0 0 0 4px white, 0 0 1px rgba(0, 0, 0, 0);
}
.registerButton:hover {
    background-color: #b32d00;
    border-color: black;
    color: white;
    box-shadow: inset 0 0 0 4px white, 0 0 1px rgba(0, 0, 0, 0);
}
.smaller-width {
    margin-left: 15px;
    width: 91%;
}
.removePadding{
    padding-left: 29px !important;
    padding-right: 20px !important;
}
.equalBottomMargin {
    margin-bottom: 45px;
}
.remodal{
    color: #2b2828;
}
.iframe-class { overflow-x:hidden; overflow-y:auto; }
.moveAfterSubmit {
}
.vertical-offset-100{
    padding-top:100px;
}
.equalBottomMarginLive {
    bottom: 2px;
}
ul li a i {
    padding-top: 22%;
}
.remodal-close {
    border: none;
}
.fix-horizontal-scrolling {
    margin-left: 0;
    margin-right: 0;
}