body {
	background-color: #12b5ea;
}
.v-center {
  margin-top:4%;
}
.container-full {
	min-height:100%;
}
.topPadding {
	margin-top: 200px;
}
.center-x {
	text-align:center;
}
h3 {
	margin-bottom: 10px;
	margin-top: 0;
}
h1 {
	margin-top: 0;
}
.cursorPointer {
	cursor: pointer;
}
.clearBackground {
	background-color: #12b5ea;
}

.btn-group {
	padding: 24px 12px;
    margin: 0 5px;
}
.btn-group > .btn-group:first-child > .btn:last-child, .btn-group > .btn-group:first-child > .dropdown-toggle {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.btn-group > .btn-group:last-child > .btn:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
border-radius: 6px;
}
.noTopPadding {
	padding-top: 0;
}
.moveButtonDown {
	padding-top: 55px;
}
.marginBottom {
	margin-bottom: 10px;
}
.semiTransparent {
	opacity: .6;	
}
.whiteText {
	color: white;
}
/* css rules for social sharing icons */
.paddingIcons {
	padding-top: 10px;
	padding-left: 0;
}
ul {
    overflow: auto;
}
 
ul li {
    list-style-type: none;
    float: left;
}
 
ul li a i {
    background-color: #205D7A; 
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
    transition: all 0.2s ease-in-out;
}
 
.fa-facebook {
    background-color: #3b5998;
} 
.fa-linkedin {
    background-color: #007bb6;
}
.fa-twitter {
    background-color: #00aced;
}
.fa-google-plus {
    background-color: #dd4b39;
}
ul li a i:hover {
    opacity: .7;
}