.white-text {
	color: white;	
}
.fixSpacingBetweenInputs {
	width: 283px;
	padding-right: 0;
	display: inline-block;
}
.fixSpacingBetweenInputs1 {
	width: 150px;
	padding-right: 0;
	display: inline-block;
}
.leftConnectedInput {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}
.rightConnectedInput {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
	margin-left: -4px;
}
.enterButton {
	width: 418px;
	float: center;
}